.homeSectionHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #29417c; 
}

.homeSectionDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1200px;
}

.homeSectionDescription h2 {
    color: white;
    font-weight: 600;
}

.homeSectionDescription p {
    max-width: 1000px;
    width: 100%;
    font-weight: 400;
    color: white;
}

.homeSectionHolder img {
    max-width: 600px;
    width: 100%;
}