@media screen and (max-width: 1000px){
  .homeSectionDescription p{
    width: 90%;
  }
  .leftAndRight {
    flex-direction: column;
}
}  

@media screen and (max-width: 800px){
  .oneSection{
    flex-direction: column;
  }
  .middleSection{
    flex-direction: column-reverse;
  }
  .travelAppSectionHolder p{
    width: 90%!important;
  }
  .travelAppSectionHolder img{
    width: 80%!important;
  }
}

@media screen and (max-width: 600px){
  .bigSection{
    width: 90%;
  }
  .homeSectionHolder img{
    width: 80%;
  }
  .rightSide{
    justify-content: center!important;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px){
  .textAndButton,
  .middleSectionTextAndButton{
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
  }
  .rightSide{
    flex-direction: column;
    align-items: center;
  }
}